@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Chewy&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 241, 186, 1);

  color: rgba(68, 44, 46, 1);
  font-family: "Baloo 2", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(68, 44, 46, 1);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(255, 241, 186, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: rgba(255, 241, 186, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(68, 44, 46, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 50px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 33px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 16px;

    color: rgba(255, 241, 186, 1);
    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 801px;
  padding: 85px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 49.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 335px;
  height: 254px;
}

.home__google-button_image {
  width: 243px;
  height: 70px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 820px;
    padding: 95px 830px 0px 80px;
    background-image: url("/img/home/Home.png");
  }

  .home-title {
    width: 530px;
    height: 402px;
    margin-bottom: 24px;
  }
}
.why {
  width: 375px;
  height: 615px;

  margin: auto;
  margin-top: 100px;
  padding: 350px 24px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Download.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-text {
  padding: 22px 0 32px;
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 390px;
    margin-top: 100px;
    padding: 67px 927px 0 187px;
    align-items: start;
    background-image: url("/img/Download\ button.png");
  }
  .why-text {
    padding: 22px 0 32px;
    font-family: Chewy;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.uniqueness-list {
  padding-top: 28px;
}
.uniqueness-item {
  margin: 0 5px;
  width: 305px;
  height: 311px;
  border-radius: 12px;
  padding-top: 28px;
  padding-right: 22px;
  padding-bottom: 28px;
  padding-left: 22px;
  background: rgba(255, 140, 0, 1);
}
.uniqueness-text-bold {
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(159, 10, 39, 1);
  padding: 8px 0 8px;
}
.uniqueness-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.uniqueness-img {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .uniqueness-list {
    padding: 34px 0 26px;
  }
  .uniqueness-item {
    margin: 0 10px;
  }
}
.about {
  padding: 70px 16px 0px;
  margin: auto;
  width: 375px;
  height: 694px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 50.png");
}

.about-title {
  font-family: Chewy;
  font-weight: 400;
  font-size: 38px;
  text-align: center;

  color: rgba(159, 10, 39, 1);
}

.about-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;

  padding: 242px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 80px 0;
    width: 1440px;
    height: 575px;
    background-image: url("/img/Frame\ 51.png");
  }
  .about-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 38px;
    text-align: left;
  }

  .about-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 16px;

    width: 629px;
    padding: 32px 0px 0;
  }
}
.how {
  width: 375px;
  height: 671px;
  margin: auto;
  margin-top: 80px;
  padding: 0px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
}

.how-list {
  padding-top: 244px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.how-text-bold {
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 140, 0, 1);
}
.how-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 902px;
    margin: auto;
    padding: 130px 80px;
    background-image: url("/img/Frame\ 54.png");
  }
  .how-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .how-text-bold {
    font-family: Chewy;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 140, 0, 1);
  }
  .how-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 16px;
  }
  .how-item {
    margin-left: 650px;
  }
  .how-item-two {
    text-align: right;
    width: 620px;
  }
  .how-item-three {
    margin-top: 199px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.reviews-list {
  padding-top: 28px;
}
.reviews-item {
  margin: 0 5px;
  border: 2px solid rgba(255, 140, 0, 1);
  width: 305px;
  height: 230px;
  border-radius: 12px;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}
.reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 18px;

  color: rgba(159, 10, 39, 1);
}
.reviews-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;

  height: 66px;
  margin: 16px 0;
}

.gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .reviews {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .reviews-list {
    padding: 34px 0 26px;
  }
  .reviews-item {
    margin: 0 10px;
  }
}

.faq {
  padding: 80px 20px 0px;
  margin: auto;
  width: 375px;
}
.faq-div {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 28px;
}
.faq-img {
  width: 375px;
  height: 741px;
  border-radius: 12px;
  margin-left: -20px;
  margin-right: -20px;
  object-fit: cover;
  object-position: center;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(159, 10, 39, 1);

  border-radius: 16px;
  padding: 10px;
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(159, 10, 39, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.toggle-button img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.faq-answer {
  display: none;

  border-radius: 16px;

  padding: 10px;

  border: 1px solid rgba(68, 44, 46, 1);
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 140px 80px 0;
    width: 1440px;
  }
  .faq-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 34px;
  }
  .faq-img {
    width: 630px;
    height: 741px;
    border-radius: 12px;
    margin: 0;
  }
  .faq-container {
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 0;
}

.gallery__list {
  padding-top: 28px;
}
.gallery__item {
  width: 335px;
  height: 596px;
  border-radius: 12px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-item {
  width: 375px;
  height: 228px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 140px 80px;
  }

  .gallery__item {
    width: 305px;
    height: 542px;
    border-radius: 12px;

    margin: 0 10px;
  }
  .gallery-item {
    width: 964px;
    height: 542px;
  }
  .gallery__list {
    padding: 34px 0 26px;
  }
}
.features {
  width: 375px;
  height: 1364px;
  margin: auto;
  background-image: url("/img/Frame\ 52.png");
  padding: 50px 16px 0px;
}

.features-list {
  padding-top: 600px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features-text-bold {
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 140, 0, 1);
}
.features-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 779px;
    background-image: url("/img/Frame\ 53.png");
    padding: 120px 80px 0px;
  }
  .features-list {
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 454px;
    height: 380px;
  }
  .features-item {
    width: 413px;
  }
  .features-text-bold {
    font-family: Chewy;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .features-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}
.footer {
  background: rgba(159, 10, 39, 1);

  color: rgba(255, 241, 186, 1);
  padding: 24px 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 35px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.footer-text {
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  text-decoration: none;
  color: rgba(255, 241, 186, 1);
}

.footer-copyright {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 46px 0px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 50px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 250px;
  }
  .footer-text {
    font-family: Chewy;
    font-weight: 400;
    font-size: 28px;
  }

  .footer-copyright {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 118px 16px 40px;
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
}
.policy-terms-title {
  font-family: Chewy;
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  color: rgba(159, 10, 39, 1);
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 100px 180px 60px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
  }

  .policy-terms-text {
    padding-top: 40px;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 30px 17px;
  background: rgba(68, 44, 46, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;

  color: rgba(255, 241, 186, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 241, 186, 1);
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Chewy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 241, 186, 1);
  letter-spacing: 0%;
}
#accept-cookies {
  background: rgba(255, 241, 186, 1);
  color: rgba(68, 44, 46, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 16px;

    width: 600px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
